$white-color: #fff;
$page-bg-color: #ccc;
$border-color: #D8D8D8;
$error-color: #ff0000;
$primary-color: #4B0082;
$secondary-color: rgba(0, 0, 0, 0.8);
$alert-color: #3c763d;
$alert-danger-color: #a94442;

$page-min-height: 100vh;
